@import './variable.scss';

body {
  perspective: 800px;
  perspective-origin: center bottom;
  overflow: hidden;
}

.container {
  height: 100%;
  padding-top: 60px;
}

.fade-enter-active, .fade-leave-active {
  opacity: 1;
  transition: opacity .3s linear;
}
.fade-enter, .fade-leave-active {
  opacity: 0;
}

.page-enter-active, .page-leave-active {
  transform: rotateX(0deg);
  opacity: 1;
  transition: all .3s linear;
}
.page-enter, .page-leave-active {
  opacity: 0;
  transform: rotateX(10deg);
}
