$white: #fff;
$red: #d9534f;
$blue: #3071a9;
$info: #31b0d5;
$orange: #f0ad4e;
$green: #3c763d;
$graySt: #666;
$grayer: #999;
$gray: #ddd;
$blackSt: #222;
$blacker: #333;
$black: #444;
$pink: #e4007e;

$radiusLg: 8px;
$radius: 4px;
$radiusSm: 2px;

$bgMask: rgba(0,0,0,.8);
$bgGreen: #dff0d8;
$bgBlue: #428bca;
$bgRed: #f2dede;
$bgYellow: #fcf8e3;
$bgGray: #f5f5f5;
$bgInfo: #d9edf7;

$borderYellow: #dac765;
